@model OnlineFoodOrderingSystem.Models.OrderedFoood

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Categories/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderedFoood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeOrder.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeOrder.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
